---
- name: Install nginx
  xbps:
    pkg: nginx
    state: present

- name: Configure nginx
  copy:
    src: nginx.conf
    dest: /etc/nginx/
    owner: root
    group: root
    mode: 0644
  notify:
    - nginx

- name: Install dhparam.pem
  copy:
    src: dhparam.pem
    dest: /etc/nginx/dhparam.pem
    owner: root
    group: root
    mode: 0644
    force: no
  when: use_ssl

- name: Create the webroot
  file:
    path: /srv/www
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Create sites-available
  file:
    path: /etc/nginx/sites-available
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Create sites-enabled
  file:
    path: /etc/nginx/sites-enabled
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Enable nginx
  runit:
    name: nginx
    enabled: yes
    state: started

- name: Configure nginx firewall rules
  copy:
    src: nginx.rules
    dest: /etc/iptables.d/nginx.rules
    owner: root
    group: root
    mode: 0640
  notify:
    - iptables

- name: Configure nginx firewall rules
  copy:
    src: nginx.6rules
    dest: /etc/ip6tables.d/nginx.6rules
    owner: root
    group: root
    mode: 0640
  notify:
    - iptables
